/**,
*::after,
*::before {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}*/

body {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}
.wrapper {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid #ff0;
}
.row {
  background: #f00;
  margin: 0 -15px;
}
/*
.clearfix::after {

  content: "";
  display: block;
  clear: both;

}

.wrapper .col {
  text-align: center;
  background: #777;
  min-height: 100px;
  min-width: 100px;
  float: left;
  margin: 15px;
  width: calc(100% / 6 - 30px);
}
.wrapper .col:nth-child(6n + 7) {
  clear: both;
}
@media screen and (max-width: 992px){
  .wrapper .col{
    width: calc(100% / 12 * 5 - 30px);
  }
  .wrapper .col:nth-child(6n + 7) {
    clear: none;
  }
  .wrapper .col:nth-child(4n + 5) {
    clear: both;
  }
}
*/
.wrapper .col {
  text-align: center;
  background: #777;
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  min-width: 100px;
  margin: 15px;
  width: calc(100% / 6 - 30px);
}
.wrapper .col:nth-child(6n + 7) {
  clear: both;
}
@media screen and (max-width: 992px){
  .wrapper .col{
    width: calc(100% / 12 * 5 - 30px);
  }

}