*,
*::after,
*::before {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.list {
  font-size: 18px;
}

.list li {
  margin: 0 0 10px 0;
}
